body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {
  margin: 0;
  padding: 0;
}

.input-field {
  margin-bottom: 15px;
}

.input-field input {
  height: 28px;
  width: 300px;
}

.data-output {
  font-weight: bold;
  color: red;
}
